body {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  background-color: #666;
  font-family: Georgia, "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 14px;
  color: #333;
}
 
h1 {
  font-size: 28px;
  color: #000;
}
 
a  {color: #ccc}
a:hover {
  background-color: #ccc;
  color: #000;
  text-decoration: none;
}     
 
#page {
  background-color: #353535;
  width: 750px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  color: #ccc;
  border: solid 1px #000;
}
 
#header {
  background-image: url(images/header_back.gif);
  background-repeat: repeat-x;
  background-position: top left;
  height: 100px;
}
 
#logo {
  background-image: url(images/logo.gif);
  background-repeat: no-repeat;
  background-position: top right;
  height: 100px;
}
 
#sidebar {
  background: #353535 url(images/web_solutions_nature.gif);
  background-repeat: no-repeat;
  background-position: center left;
  height: 394px;
  width: 267px;
  border: 1px solid #CCCCCC;
  margin-left: 10px;
  margin-bottom: 10px;
  float: left;
}
 
#content {
  margin-left:300px;
  margin-bottom: 20px;
  color: #FFF;
  font-family: Georgia;
  padding-right: 10px;        
}
 
#content h1 {
  color: #FFF;
  font-size: 18px;
  font-family: Georgia;
  padding: 5px;
  border-left: 1px dotted #2F4E6F;
  border-bottom: 1px dotted #2F4E6F;
}
 
#content p {
  margin-left:10px;        
}
 
#tagline {
  color: #E15119;
  font-size: 12px;
  font-style: italic;
  font-family: Georgia;
  text-align:right;
  margin-bottom: 20px;
}
 
#client_login {
  clear: left;
  text-align:right;
  padding:10px;
  background: #2F4E6F;
}
 
#client_login span, .bright {
  color: #E15119;
}