---
extension: css
filter:    sass
layout:    nil   # no layout
---

!black        = "#000"
!white        = "#FFF"
!dark_blue    = "#2F4E6F"
!med_blue     = "#98B1C4"
!light_blue   = "#C8D7E3"
!orange       = "#E15119"
!dark_gray    = "#353535"
!light_gray   = "#CCC"

body
  background-color = !dark_gray
  font-size: 14px
  color: #333
  background-image: url(../images/header_back.gif)
  background-repeat: repeat-x
  background-position: top left
  font-family: "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, times, "Times New Roman", sans-serif
#container
  // background-color: #353535
  // color: #ccc
#header
  height: 100px
  margin-bottom: 2em
  #logo
    background-image: url(../images/logo.gif)
    background-repeat: no-repeat
    background-position: top right
    height: 100px
  #menu
    ul
      padding: 0
      li
        padding: 0 1em
        display: inline
        
  #tagline
    color: #E15119
    font-size: 13px
    font-style: italic
    font-family: Georgia
    text-align: right
    
#main
  margin: 1em 0
  padding: 1em 0em
  color = !dark_gray
  background-color = !white
  -moz-border-radius: .5em
  -webkit-border-radius: .5em
  
  #sidebar
    margin: 1em 0
    text-align: center
    img
      border: 1px solid #CCCCCC
      
  #content
    h1
      font-size: 2em
      border-bottom: 1px solid #999
      color= !light_gray
  

#client_login
  clear: left
  text-align: right
  padding: 10px
  background: #2F4E6F
  span
    color: #E15119
.bright
  color: #E15119


a
  color: #ccc
  &:hover
    background-color: #ccc
    color: #000
    text-decoration: none
p.callout
  font-size: 1.5em
  letter-spacing: -.1em
  background-color = !light_gray
  color = !dark_blue
  -moz-border-radius: .5em
  -webkit-border-radius: .5em
  padding: 20px